@use "./variables";

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 1400px;
}

body{
    font-size: 125%;
    // background-color: #CBCBC8;
}

h1{
    margin: 0;
    color: variables.$textFontColour;
    text-align: center;
}

// Header

header{
    // background-color: variables.$mainColour;
    background: rgb(237,237,233);
    background: linear-gradient(0deg, rgba(237,237,233,1) 0%, rgba(201,201,198,1) 100%);
    height: 100vh;
    overflow: hidden;
    nav{
        margin-top: 40px;
    }
}
ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0 0 0;
    margin-top: 10px;
}


 .open-menu{
        font-size: 2rem;
        display: none;
        cursor: pointer;
    }

.close-menu{
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.nav-items{
    text-transform: lowercase;
    a{
        position: relative;
        padding: 0 10px;
    }
   
    a:after{
        content: "";
        position: absolute;
        background-color: black;
        height: 1.5px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
    a:hover{
        color: variables.$textFontColour;
    }
    a:hover:after{
        width: 100%;
    }
}

.main-heading-container{
    padding-top: 10rem;
}

.name-color{
    color: variables.$highlightFontColour;
}

.heading-title{
    display: block;
}

.header-contact{
    text-decoration: none;
    color: variables.$highlightFontColour;
    border: 3px solid variables.$highlightFontColour;
    border-radius: 5px;
    padding: 10px;
    margin: 15px auto;
    display: block;
    width: fit-content;
    text-align: center;
    &:hover{
        background-color: variables.$highlightFontColour;
        color: variables.$mainColour;
    }
}

.header-social-icons{
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
        i{
        font-size: 2rem;
    }
}

// About

.about{
    background-color: variables.$mainColour;
    h2{
        margin: 0;
    }
    .about-text-container{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    p{
        line-height:1.3;
        letter-spacing: 1.5px;
    }
    }
  
}



// Skills

.skills{
    background-color: variables.$mainColour;
    h2{
        text-align: center;
        padding: 40px 0;
    }
    .skills-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        width: 200px;
        border-radius: 10px;
        background-color: variables.$mainColour;
        &:hover{
            background-color: #dad8cd;
        }
        i{
            font-size: 3.5rem;
        }
        p{
            text-align: center;
            font-size:1rem;
            margin-top: 10px;
        };
    }
}

// Portfolio

.portfolio{
    background-color: variables.$mainColour;
    padding: 30px;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .project-container{
        display: flex;
        gap: 2rem;
        ul{
            justify-content: normal;
            padding: 0;
        }
        .portfolio-image-container{
            width: 39%;
            img{
                width:100%;
            }
        }
        .portfolio-text-container{
            width: 59%;
            ul{
                li{
                    text-transform: uppercase;
                    border: 2px solid variables.$textFontColour;
                    padding: 5px;
                    color: variables.$textFontColour;
                    margin: 5px 0;
                }
               
            }
            p{
                line-height: 1.5;
                a{
                    margin: 0;
                }
            }
            a{
                text-decoration: none;
                color: variables.$textFontColour;
                font-weight: bold;
                margin: 10px 20px 0 0;
                display: inline-block;
            }
        }
              
    }
}


// Contact

.contact{
    background-color: variables.$mainColour;
    padding: 30px;
    h2{
        text-align: center;
    }
    .wrapper{
        display: flex;
        justify-content:center;
        gap: 10rem;
        .email-small, .location-small{
            font-size: 1rem;
            text-transform: uppercase;
            margin: 10px 0;
        }
        .email-large, .location-large{
            font-size: 1.5rem;
        }
        ul{
            justify-content: normal;
            padding-top: 1rem;
            i{
                font-size: 2.5rem;
            }
        }
    }
    form{
        .form-row{
            input, textarea{
                background-color: variables.$mainColour;
                border: none;
                border-bottom: 1px solid variables.$textFontColour;
                padding: 20px 80px 10px 10px;
                color: variables.$textFontColour;
                width: 100%;
                &::placeholder{
                  color: variables.$textFontColour;  
                }
            }
            textarea{
                resize: none;
            }
        }
        button{
            margin-top: 10px;
            padding: 10px;
            background-color: variables.$highlightFontColour;
            border: 1px solid variables.$highlightFontColour;
            border-radius: 5px;
            color: white;
            width: content;
            cursor: pointer;
        }
    }
}

// Footer

footer{
    background-color: variables.$mainColour;
    text-align: center;
    padding: 50px 0 15px 0;
}