@use "./variables";


.wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 1400px;
}

body{
    font-size: 125%;
}

h1{
    margin: 0;
    color: variables.$textFont;
}

// Header

header{
    background-color: variables.$mainColour;
    height: 75vh;
    -webkit-box-shadow: 0px 14px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 15px -8px rgba(0,0,0,0.75);
}

ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0 0 0;
    text-transform: lowercase;
}

.main-heading-container{
    padding-top: 10rem;
}

.name-color{
    color: variables.$highlightFont;
}

.header-contact{
    text-decoration: none;
    color: variables.$highlightFont;
    border: 3px solid variables.$highlightFont;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    display: block;
    width: fit-content;
}

.header-social-icons{
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
        i{
        font-size: 2rem;
    }
}

// About

.about{
    background-color: variables.$secondaryColour;
    h2{
        margin: 0;
    }
    .about-text-container{
    margin-left: 50px;
    }
  
}



// Skills

.skills{
    background-color: variables.$secondaryColour;
    h2{
        text-align: center;
        padding: 40px 0;
    }
    .skills-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        width: 200px;
        border-radius: 10px;
        background-color: variables.$mainColour;
        &:hover{
            // background-color: variables.$highlightFont; 
            background-color: #dad8cd;
        }
        i{
            font-size: 3.5rem;
        }
        p{
            text-align: center;
            font-size:1rem;
            margin-top: 10px;
        };
    }
}

// Portfolio

.portfolio{
    background-color: variables.$secondaryColour;
    padding: 30px;
    h2{
        text-align: center;
    }
    .project-container{
        display: flex;
        gap: 2rem;
        ul{
            justify-content: normal;
            padding: 0;
        }
        .portfolio-image-container{
            width: 39%;
            img{
                width:100%;
            }
        }
        .portfolio-text-container{
            width: 59%;
            ul{
                li{
                    text-transform: uppercase;
                    border: 2px solid variables.$textFont;
                    padding: 5px;
                    color: variables.$textFont;
                    margin: 5px 0;
                }
            }
                a{
                    text-decoration: none;
                    color: variables.$textFont;
                    font-weight: bold;
                    margin: 10px 20px 0 0;
                    display: inline-block;
            }
        }
              
        }
    }


// Contact

.contact{
    background-color: variables.$mainColour;
    padding: 30px;
    h2{
        text-align: center;
    }
    .wrapper{
        display: flex;
        justify-content:center;
        gap: 5rem;
        .email-small{
            font-size: 1rem;
            text-transform: uppercase;
        }
        .email-large{
            font-size: 1.5rem;
        }
        ul{
            justify-content: normal;
            padding-top: 1rem;
            i{
                font-size: 2.5rem;
            }
        }
    }
    form{
        .form-row{
            input, textarea{
                background-color: variables.$mainColour;
                border: none;
                border-bottom: 1px solid variables.$textFont;
                padding: 20px 0 10px 10px;
                color: variables.$textFont;
                width: 100%;
                &::placeholder{
                  color: variables.$textFont;  
                }
            }
            textarea{
                resize: none;
            }
        }
        button{
            margin-top: 10px;
            padding: 10px;
            background-color: variables.$highlightFont;
            border: 1px solid variables.$highlightFont;
            border-radius: 5px;
            color: white;
            width: content;
        }
    }
}

// Footer

footer{
    background-color: variables.$mainColour;
    text-align: center;
    padding: 50px 0 15px 0;
}