@use "./variables";



// Tablet View 

@media(max-width: 850px){

    header{
        nav{
        margin-top: 70px;
        }
    }

    .nav-items{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        background: #edede9;
        transition: top 1s ease;
        display: none;
    }

    .header-social-icons{
        align-items: center;
    }

    .close-menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .open-menu{
        display: block;
        margin: 0;
        padding-top: 20px;
        position: fixed;
        top: 20px;
    }
    .nav-items{
        a:hover{
            background: none;
        }
        a:after{
            transition: none;
            position: static;
            
        }
    }

      .main-heading-container{
        padding-top: 0rem;
        }

    // About

    .about{
        h2{
            text-align: center;
        }
    }

    // Projects

    .portfolio{
        h3{
            text-align: center;
        }
        .project-container{
            flex-direction: column;
            align-items: center;
            .portfolio-image-container{
                width: 60%;
            }
            .portfolio-text-container{
                width: 100%;
                ul{
                justify-content: center;
                }   
                p{
                    margin: 20px 0;
                    text-align: center;
                }
                a{
                    display: block;
                    text-align: center;
                    margin: 10px;
                }
            }
        }
    }

    .sanctuary-helpers{
        order: 2;
    }

    // Contact

    .contact{
        .wrapper{
            flex-direction: column;
            gap: 1rem;
        }
    }
}

@media(max-width: 550px){
    header{
        height: 100vh;
    }

    .header-social-icons{
        padding: 0;
    }

    .portfolio-text-container{
        ul{
            flex-wrap: wrap;
        }
    }

}