@use "./variables";

h1,h2,h3{
    font-family: variables.$primaryFont;
    color: variables.$textFont;
    font-size: 2.6rem;
    margin: 0;
    letter-spacing: 1.1px;
    padding: 15px 0;
}

h1{
    font-size: 5.5rem;
}

h2{
    font-size: 4rem;
}

p{
    font-family: variables.$secondaryFont;
    color: variables.$textFont;
    margin: 0;
}

a{
    font-family: variables.$secondaryFont;
}


ul {
    margin: 0;   
    }li{
    list-style: none;
    a{
    font-family: variables.$secondaryFont;
    text-decoration: none;
    color: variables.$highlightFont;
    &:hover{
        color: variables.$textFont;
    }
    }
}