// Fonts
$primaryFont: 'Barlow Condensed', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

//Colours
$mainColour: #34353A;
$secondaryColour: #31333B; 
// $highlightFont: #FFC86B; 
$highlightFont: #4185a8;
$textFont: #FAF9F6;