html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Barlow Condensed", sans-serif;
  color: #463F3A;
  font-size: 2.6rem;
  margin: 0;
  letter-spacing: 1.1px;
  padding: 15px 0;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #463F3A;
  margin: 0;
}

a {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}
li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #463F3A;
}
li a:hover {
  color: #463F3A;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1400px;
}

body {
  font-size: 125%;
}

h1 {
  margin: 0;
  color: #463F3A;
  text-align: center;
}

header {
  background: rgb(237, 237, 233);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(237, 237, 233)), to(rgb(201, 201, 198)));
  background: linear-gradient(0deg, rgb(237, 237, 233) 0%, rgb(201, 201, 198) 100%);
  height: 100vh;
  overflow: hidden;
}
header nav {
  margin-top: 40px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 20px 0 0 0;
  margin-top: 10px;
}

.hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.hamburger i {
  color: black;
}

.hamburger:focus {
  outline: none;
}
.hamburger:focus i {
  color: black;
}

.nav-items {
  text-transform: lowercase;
}
.nav-items a {
  position: relative;
  padding: 0 10px;
}
.nav-items a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-items a:hover {
  color: #463F3A;
}
.nav-items a:hover:after {
  width: 100%;
}

.main-heading-container {
  padding-top: 10rem;
}

.name-color {
  color: #8A817C;
}

.heading-title {
  display: block;
}

.header-contact {
  text-decoration: none;
  color: #8A817C;
  border: 3px solid #8A817C;
  border-radius: 5px;
  padding: 10px;
  margin: 15px auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.header-contact:hover {
  background-color: #8A817C;
  color: #edede9;
}

.header-social-icons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header-social-icons i {
  font-size: 2rem;
}

.about {
  background-color: #edede9;
}
.about h2 {
  margin: 0;
}
.about .about-text-container {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.about .about-text-container p {
  line-height: 1.3;
  letter-spacing: 1.5px;
}

.skills {
  background-color: #edede9;
}
.skills h2 {
  text-align: center;
  padding: 40px 0;
}
.skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.skills .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #edede9;
}
.skills .icon-container:hover {
  background-color: #dad8cd;
}
.skills .icon-container i {
  font-size: 3.5rem;
}
.skills .icon-container p {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

.portfolio {
  background-color: #edede9;
  padding: 30px;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 50px;
}
.portfolio .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.portfolio .project-container ul {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  padding: 0;
}
.portfolio .project-container .portfolio-image-container {
  width: 39%;
}
.portfolio .project-container .portfolio-image-container img {
  width: 100%;
}
.portfolio .project-container .portfolio-text-container {
  width: 59%;
}
.portfolio .project-container .portfolio-text-container ul li {
  text-transform: uppercase;
  border: 2px solid #463F3A;
  padding: 5px;
  color: #463F3A;
  margin: 5px 0;
}
.portfolio .project-container .portfolio-text-container p {
  line-height: 1.5;
}
.portfolio .project-container .portfolio-text-container p a {
  margin: 0;
}
.portfolio .project-container .portfolio-text-container a {
  text-decoration: none;
  color: #463F3A;
  font-weight: bold;
  margin: 10px 20px 0 0;
  display: inline-block;
}
.portfolio .project-container .portfolio-text-container a:hover {
  border-bottom: 1px solid black;
}

.contact {
  background-color: #edede9;
  padding: 30px;
}
.contact h2 {
  text-align: center;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
}
.contact .wrapper .email-small, .contact .wrapper .location-small {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 10px 0;
}
.contact .wrapper .email-large, .contact .wrapper .location-large {
  font-size: 1.5rem;
}
.contact .wrapper ul {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  padding-top: 1rem;
}
.contact .wrapper ul i {
  font-size: 2.5rem;
}
.contact .wrapper .contact-details {
  overflow-x: hidden;
}
.contact form {
  overflow-x: hidden;
}
.contact form .form-row input, .contact form .form-row textarea {
  background-color: #edede9;
  border: none;
  border-bottom: 1px solid #463F3A;
  padding: 20px 80px 10px 10px;
  color: #463F3A;
  width: 100%;
}
.contact form .form-row input::-webkit-input-placeholder, .contact form .form-row textarea::-webkit-input-placeholder {
  color: #463F3A;
}
.contact form .form-row input::-moz-placeholder, .contact form .form-row textarea::-moz-placeholder {
  color: #463F3A;
}
.contact form .form-row input:-ms-input-placeholder, .contact form .form-row textarea:-ms-input-placeholder {
  color: #463F3A;
}
.contact form .form-row input::-ms-input-placeholder, .contact form .form-row textarea::-ms-input-placeholder {
  color: #463F3A;
}
.contact form .form-row input::placeholder, .contact form .form-row textarea::placeholder {
  color: #463F3A;
}
.contact form .form-row textarea {
  resize: none;
}
.contact form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #8A817C;
  border: 1px solid #8A817C;
  border-radius: 5px;
  color: white;
  width: content;
  cursor: pointer;
}

footer {
  background-color: #edede9;
  text-align: center;
  padding: 50px 0 15px 0;
}

@media (max-width: 850px) {
  .nav-items {
    display: none;
  }
  .nav-items.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger {
    display: block;
  }
  .header-social-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-items a:hover {
    background: none;
  }
  .nav-items a:after {
    -webkit-transition: none;
    transition: none;
    position: static;
  }
  .main-heading-container {
    padding-top: 0rem;
  }
  .about h2 {
    text-align: center;
  }
  .portfolio h3 {
    text-align: center;
  }
  .portfolio .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .project-container .portfolio-image-container {
    width: 60%;
  }
  .portfolio .project-container .portfolio-text-container {
    width: 100%;
  }
  .portfolio .project-container .portfolio-text-container ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .project-container .portfolio-text-container p {
    margin: 20px 0;
    text-align: center;
  }
  .portfolio .project-container .portfolio-text-container a {
    display: block;
    text-align: center;
    margin: 10px;
  }
  .sanctuary-helpers {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 550px) {
  header {
    height: 100vh;
  }
  .header-social-icons {
    padding: 0;
  }
  .portfolio-text-container ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}